<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Number filter</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
        body, html {
            height: 100%;
            padding: 10px;
        }

        .hl {
            color: red;
        }

        .app-container {
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .cell-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            flex: 1;
            overflow-y: auto;
            align-content: flex-start;
        }

        .cell {
            border: 1px solid #000;
            padding: 0 10px;
            height: 40px;
            line-height: 40px;
        }
    </style>

</head>
<body>
<div id="app" class="container-fluid app-container">
    <form>
        <div class="checkbox">
            <label>含有勾选数组的组合</label>
            <template v-for="i in 10">
                <label class="checkbox-inline">
                    <input type="checkbox" v-model="includes2[i-1]"> {{i-1}}
                </label>
            </template>
        </div>
        <div class="checkbox">
            <label>只有勾选数组的组合</label>
            <template v-for="i in 10">
                <label class="checkbox-inline">
                    <input type="checkbox" v-model="includes[i-1]"> {{i-1}}
                </label>
            </template>
        </div>
        <div class="checkbox">
            <label>其他组合</label>
            <label class="checkbox-inline">
                <input type="checkbox" v-model="dui"> 对子
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" v-model="santiao"> 三条
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" v-model="sitiao"> 四条
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" v-model="zasi"> 杂四
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" v-model="xiaoshun"> 小顺
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" v-model="dashun"> 大顺
            </label>
        </div>
        <label>数量：{{ filterAll.length }}</label>
    </form>
    <div class="container cell-container">
        <div class="cell" v-for="n in filterAll" :key="n" v-if="show(n)">
            <span v-html="display(n)"></span>
        </div>
    </div>
</div>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<script>
    new Vue({
        el: '#app',
        data: {
            min: 0,
            max: 9999,
            includes: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0,],
            includes2: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0,],
            dui: false,
            santiao: false,
            sitiao: false,
            zasi: false,
            xiaoshun: false,
            dashun: false,
        },
        computed: {
            all() {
                let arr = []
                for (let i = Number(this.min); i <= Number(this.max); ++i) {
                    arr.push(i)
                }
                return arr
            },
            filterAll() {
                let arr = []
                for (let n of this.all) {
                    let label = n.toString().padStart(this.max.toString().length, 0)
                    if (this.show(label)) {
                        arr.push(label)
                    }
                }
                return arr
            },
        },
        methods: {
            show(label) {
                let check1 = this.includes.filter(v => v).length === 0
                let check2 = this.includes2.filter(v => v).length === 0

                if (!check1) {
                    for (let chr of label) {
                        if (!this.includes[chr]) return false
                    }
                }

                if (!check2) {
                    let c2 = false
                    for (let i in this.includes2) {
                        if (this.includes2[i]) {
                            if (label.includes(i)) {
                                c2 = true
                                break
                            }
                        }
                    }
                    if (c2 === false) return false
                }
                let c = this.count(label)
                if (this.dui) {
                    if (c < 2) return false
                }

                if (this.santiao) {
                    if (c < 3) return false
                }

                if (this.sitiao) {
                    if (c < 4) return false
                }

                if (this.zasi) {
                    if (c > 1) return false
                }

                let sun = this.shun(label)
                if (this.xiaoshun) {
                    if (sun.length < 3) return false
                }
                if (this.dashun) {
                    if (sun.length < 4) return false
                }

                return true
            },
            count(label) {
                let c = {}
                for (let cc of label) {
                    if (c[cc] === undefined) {
                        c[cc] = 0
                    }
                    c[cc]++
                }
                return Math.max(...Object.values(c))
            },
            shun(label) {
                let arr = []
                let cc = label[0]
                for (let c of label) {
                    let ccn = Number(cc)
                    let cn = Number(c)
                    if (ccn === 0) {
                        ccn = 10
                    }
                    if (cn === 0) {
                        cn = 10
                    }
                    arr.push((((ccn - cn) % 10) - 10) % 10)
                    cc = c
                }

                let s = 0, e = 0

                let l = 0
                for (let i = 0; i < arr.length; ++i) {
                    if (Math.abs(arr[i]) === 1) {
                        let ss = i
                        let ll = 1
                        let j
                        for (j = i + 1; j < arr.length; ++j) {
                            if (arr[j] === arr[i]) {
                                ll++
                                i = j
                            } else {
                                i = j - 1
                                break
                            }
                        }
                        if (ll > l) {
                            s = ss
                            e = j
                            l = ll
                        }
                    }
                }
                return {
                    length: l + 1,
                    s: s,
                    e: e,
                }
            },
            display(label) {
                let dp = []
                for (let c of label) {
                    if (this.includes.filter(v => v).length && this.includes[c]) {
                        dp.push(`<span class="hl">${c}</span>`)
                    } else if (this.includes2.filter(v => v).length && this.includes2[c]) {
                        dp.push(`<span class="hl">${c}</span>`)
                    } else {
                        dp.push(`<span>${c}</span>`)
                    }
                }
                return dp.join('')
            },
        },
    })
</script>

</body>
</html>
